@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}
*,*:before,*:after {
    box-sizing: inherit;
}

body {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 32px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(13, 28, 37);
    color: white;
}

chatContainer {
    position: fixed;
    display: block;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 80%;
    height: 80vh;
    max-height:80%;
    padding: 10px;
    margin: 0 auto;
    border: 2px;
    border-color: red;
}

chatHistory {
    font-size: 18px;
    background-color:rgb(52, 77, 80);
}

userInput {
    position: relative;
    display: flex;
    top:100%;
    width: 100%;
    height: auto;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}