@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Raleway:wght@700&display=swap";

:root {
  --textMain: Roboto, sans-serif;
  --textHeader: Raleway, sans-serif;
  --colorA: #064f5f;
  --colorB: #031520;
  --colorC: rgb(13, 14, 13);
  --textColor: rgb(255, 255, 255);
  --bgColor: rgb(13, 28, 37);
  --inputColor: rgb(9, 35, 54);
  --inputText: #e0e0e0;
  --borderColor: #3f3f3f;
  --baseFontSize: 1.3rem;
  --inputFontSize: 1.3 * 16px;
  --botColor: #0a324a;
  --userColor: #052260;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: #fff;
  background-color: #0d1c25;
  height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 104vw;
  min-width: 416px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5px;
  box-shadow: 0 0 10px #00000080;
}
.chatContainer {
  position: relative;
  display: flex;
  height: 100vh;
  min-width: 95%;
  flex-direction: column;
  background-color: var(--colorB);
  border-radius: 8px;
  min-height: 100vh;
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

h1 {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  margin: 5px 0;
}

.loadingWrapper {
  display: flex;
  justify-content: center;
  height: auto;
}
.chatWindow {
  flex: 1;
  padding: 10px;
  margin: 0 2%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid rgba(5, 78, 60, 0.292);
  box-shadow: 0 0 1px #0ff3;
}
.chatMessage {
  display: flex;
  max-width: 50%;
  min-width: auto;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  margin-bottom: 8px;
  padding: 6px 12px;
  border-radius: 18px;
  box-shadow: 0 1px 1.5px #0003;
}
.userChat {
  justify-content: flex-end;
  align-self: flex-end;
  background-color: #052260;
  color: #fff;
}
.botChat {
  justify-content: flex-start;
  align-self: flex-start;
  background-color: #0a324a;
  color: #fff;
}

.inputContainer {
  padding: 10px;
  width: 95%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
textarea {
  width: 100%;
  max-width: 100%;
  min-width: 95vw;
  padding: 13px;
  font-size: 1rem;
  border: 1px solid rgba(7, 54, 60, 0.447);
  border-radius: 4px;
  background-color: #092336;
  color: #ffffff34;
  resize: none;
  outline: none;
}
textarea:focus {
  border-color: seagreen;
  color: var(--textColor);
}

.submitButton {
  min-width: 20x;
  padding: 7px;
  background-color: var(--colorA);
  border: 0.5px solid rgba(8, 41, 22, 0.393);
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  color: var(--textColor);
  margin-top: 10px;
  width: 100%;
  margin: 0 10;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  transition: all 0.3s ease;
}
.submitButton:hover {
  background-color: #87ceeb;
  color: var(--colorB);
  border-color: black;
}

#loader span {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #274e7a;
  margin: 5px;
  opacity: 0;
}
#loader span:nth-child(1) {
  animation: opacitychange 1s ease-in-out infinite;
}
#loader span:nth-child(2) {
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}
#loader span:nth-child(3) {
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}
@keyframes opacitychange {
  0%,
  to {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .container,
  .chatContainer {
    width: 100%;
    margin: 0;
  }
  .submitButton {
    width: 100%;
  }
}
