.newChat {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  left: 0;
  top: 5;
}

.newChat img {
  width: 40px;
  height: 40px;
}

.newChat:hover img,
.newChat:active img {
  filter: drop-shadow(0 0 5px white);
  transition: filter 0.3s ease;
}
